<!DOCTYPE html>
<html lang="en">
<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
</head> -->
<body>
    <div>
        <p>FUCK MY LIFE</p>
    </div>

    <div class="container-fluid">
        <div class="heading">
            <h2 class="heading-name">Pokemon</h2>
        </div>
        <div class="search-results"
            infiniteScroll
            [infiniteScrollDistance] = "2"
            [horizontal] = "true"
            [scrollWindow] = "false"
            [infiniteScrollThrottle] = "50"
            (scrolled) = "onScroll()"
        >
            <div class="row flex-row flex-nowrap">
                <div class="col-3" *ngFor="let pokemon of cachedF">
                     <div class="card shadow">
                        <div class="card-body">
                            <div class="pokemon-name-container">
                                <h5 class="pokemon-name" >{{pokemon.name|replaceWithspace |titlecase}}</h5>
                            </div>
                        <div class="pokemon-image-container">
                            <img src={{pokemon.url}} class="pokemon-image">
                        </div>
                        
                        <!-- <a>{{pokemon.url}}</a>         -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <p> For Moves</p>
        </div>

        <div>
            <p> For Abilities</p>
        </div>

        <div>
            <p> for Items</p>
        </div>
    </div>
</body>


<!-- 
<div id="container">


    <p> Gonna try to implement side scrolling display of some pokemon and abilities</p> -->

    <!-- <div id = "block">
        <nav>
            <a (click) = "goHome()">Click me</a>
        </nav>
        
    </div> -->
    
    <!-- <div id = "block">
            hi
        </div>
        

</div> -->
