.back-display {
  background: #f25757;
}

.pokedex-upper {
  min-height: 100px;
}

.col {
  background: #dd2d4a;
  padding: 0px;
}

#rectangle {
  height: 45px;
  max-width: 100px;
}

svg {
  height: 10vh;
}

#triangle-topleft {
  border-bottom: 55px solid #f25757;
  border-left: 50px solid #dd2d4a;
}



.card-body:hover{
  /* background: #E3E3E3; */
  filter: brightness(110%)

}
.card-body{
  background: #BBDEF0;
  height: 150px;
}

.flex-nowrap {
    -webkit-flex-wrap: nowrap!important;
    -ms-flex-wrap: nowrap!important;
    flex-wrap: nowrap!important;
    
}
.flex-row {
    display:flex;
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -webkit-flex-direction: row!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
    
}

.search-results{
    min-width: 100px;
    overflow-y: scroll;
}

/* Pokemon image */
.pokemon-image-container{
  text-align: center;
}

.pokemon-image{
  display: inline-flex;
}


/* For the pokemon name that is being displayed. I want to do something that when you hover, the entire block pops out a little more */
.pokemon-name-container{
  text-align: center;
}

.pokemon-name{
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 0;
}


/* For the headings */
*{
  font-family: Tahoma, Geneva, sans-serif;
font-size: 16px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}
