<nav class="navbar navbar-default" role="navigation">
    <!-- <div class="box-container"> -->
        <div class="navbar-header">
            <a type="button" class="btn navbar-btn" (click) = "goHome()">
                    <span class="glyphicon glyphicon-home"></span>PokeHelp</a>
        
            <a type="button" class="btn navbar-btn right-side" href="https://github.com/SteveMunch01/Poke-Help">
                <i class="devicon-github-plain"></i>
            </a>
        
            <a type="button" class="btn navbar-btn right-side" (click) = "goMove()">Move</a>
      
            <a type="button" class="btn navbar-btn right-side" (click) = "goAbility()">Ability</a>
    
            <a type="button" class="btn navbar-btn right-side" (click) = "goPokemon()">Pokemon</a>
        
        </div>
</nav>