a:hover {
    color: #039be5;
}
a{
    float: left;
    display: block;
    padding: 14px 16px;
}

.box .home{
    color: #000000;
}
.box .home:hover{
    color: #ffffff;
}

.toolbar {
    background-color: #fd0f0f;
    overflow: hidden;
}