<!-- <div class="input">
    <label>
        <input type="text" [formControl] ="search" (keyup.enter)="searchPoke()" (keydown.arrowright) = "onRight()"
        (keyup.arrowleft) = "onLeft()"
        >
        <button (click)="searchPoke()">Search</button>
    </label>

</div> -->

<body>
    <div class="searchbar">
        <mat-form-field style="width:400px !important">
            <input type="text" placeholder="Enter Pokemon Name or ID" matInput [formControl]="search"
                (keyup.enter)="searchPoke()" (keydown.arrowright)="onRight()" (keyup.arrowleft)="onLeft()"
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of name$ | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
    <div class="container-fluid" *ngIf="pokemon$ | async as pokemon1">
            <div class="searchbar">
                    <h1 class="titlename">{{pokemon1.name | titlecase}}</h1>
            </div>
        <div class="row">
                <div class="card" id="pokemon-summary">
                    <img class="card-img-top" src={{pokemon1.sprites.front_default}}>
                    <div  class="card-body">
                        <h5 class="card-title">{{pokemon1.name | titlecase}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Id: {{pokemon1.id}}</h6>
                    </div>
                </div>
            <div class="card" id="flavor-text">
                <div class="card-body" *ngIf="moreData$ | async as data">
                    <h5 class="card-title"> Flavor Text</h5>
                    <p class="card-text">{{data.flavor_text[1].flavor_text}}</p>
                </div>

            </div>
            <div class="card" id="pokemon-summary">
                <div class="card-body">
                    <h5 class="card-title"> Back sprite</h5>
                </div>
                <img class="card-img" src={{pokemon1.sprites.back_default}}>
            </div>
        </div>
        <div class = "row">
                <div class="card" id="pokemon-summary">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">Stats</h5>
                            <ng-container *ngFor="let stat of pokemon1.stat">
                                    <div class="card-text" id ="stats">{{stat.stat.name | replaceWithspace |titlecase}}: {{stat.base_stat}}</div>
                            </ng-container>
                        </div>
                    </div>
                <div class="card" id="moves">
                    <div class="card-body">
                        <div> Moves</div>
                        <div class="scrollable" 
                        infiniteScroll
                        [infiniteScrollDistance] = "2"
                        [scrollWindow] = "false"
                        [infiniteScrollThrottle] = "50"
                        >
                        <ng-container *ngFor="let array of pokemon1.moves">
                            <div>
                                <a (click)="goTo(array.move.name, '/moves/')">{{array.move.name | titlecase | replaceWithspace}}</a>
                            </div>
                        </ng-container>

                        </div>

                    </div>

                </div>
                <div class="card" id = "pokemon-summary">
                    <div class="card-body">
                        <h5 class="card-subtitle mb-2 text-muted">Ability</h5>
                        <ng-container *ngFor="let array of pokemon1.ability">
                            <div class="card-text">{{array.ability.name | replaceWithspace |titlecase}}</div>
                        </ng-container>
                    </div>
                </div>    

            </div>
        
        <!-- <p>{{pokemon1.id }}</p>
        <p>{{pokemon1.name | titlecase}}</p>
        <img src={{pokemon1.sprites.front_default}}> -->
        <!-- <p >{{pokemon1.height}}</p> -->
        <!-- <ng-container *ngFor="let array of pokemon1.ability">
            <div>
                <a (click)="goTo(array.ability.name, '/ability/')">{{array.ability.name |titlecase |replaceWithspace}}</a>
            </div>

        </ng-container> -->


    </div>
</body>



<!-- <div *ngIf="pokemon">
    <p>{{pokemon.id || async}}</p>
    <p>{{pokemon.name}}</p>
    <img src = {{pokemon.sprites.back_default}}>
    <p >{{pokemon.height}}</p>
    <li *ngFor="let array of pokemon.ability">{{array.ability.name}}</li>
</div> -->