<div class="input">
    <label>
        <input type="text" [formControl] ="search" (keyup.enter)="searchPoke()" (keydown.arrowright) = "onRight()"
        (keyup.arrowleft) = "onLeft()"
        >
        <button (click)="searchPoke()">Search</button>
    </label>

</div>

<div *ngIf="pokemon">
    <p>{{pokemon.id}}</p>
    <p>{{pokemon.name}}</p>
    <img src = {{pokemon.sprites.back_default}}>
    <p >{{pokemon.height}}</p>
    <li *ngFor="let array of pokemon.ability">{{array.ability.name}}</li>
</div>