<div
  class="container-fluid m-0 p-0 w-100 d-flex flex-column back-display h-100"
>
  <div class="row w-100 pokedex-upper mx-0">
    <div class="col">
      <svg>
        <circle
          cx="25%"
          cy="50%"
          r="15"
          stroke="#4062BB"
          stroke-width="1"
          fill="#4062BB"
        />
      </svg>
    </div>
    <div class="col">
      <div class="row" id="rectangle"></div>
      <div class="row" id="triangle-topleft"></div>
    </div>
  </div>

  <div class="pokdex-Inner w-100 d-flex flex-grow-1 border-right">
    <div class="w-50 d-flex flex-column flex-grow-1 border-right">
      <!-- This is my left pokedex -->
      <div class="w-50 image-container center my-5">
        <div class="h-100" *ngIf="pokemon$ | async as pokemon1">
            <img class="img-top" *ngIf="pokemon1.sprites.front_default" src={{pokemon1.sprites.front_default}}>
            <h1 *ngIf="!pokemon1.sprites.front_default">No Image to show</h1>
        </div>
      </div>

      <div class= "w-50 name-container center my-5 d-flex justify-content-center">
        <h5 class="center"
            *ngIf="pokemon$ | async as pokemon1">
            {{pokemon1.name | titlecase}}
        </h5>
      </div>
      <div class= "w-50 name-container center d-flex justify-content-center">
          <h5 class="center" *ngIf="pokemon$ | async as pokemon1">
            Id: {{pokemon1.id}}
          </h5>
      </div>
    </div>
    <div class="w-50 flex-grow-1 d-flex flex-column border-left">
      <!-- This is my right pokedex -->
      <div class= "w-50 d-flex center search-container my-5 justify-content-center">
        <mat-form-field>
                <input type="text" placeholder="Enter Pokemon Name or ID" matInput [formControl]="search"
                (keyup.enter)="searchPoke()" 
                [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of name$ | async" [value]="option">
                    {{ option }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="w-50 text-container center my-5">
        <div class="h-100 scrollable" *ngIf="pokemon$ | async as pokemon1"
            infiniteScroll
            [infiniteScrollDistance] = "2"
            [scrollWindow] = "false"
            [infiniteScrollThrottle] = "50">
                <div *ngIf="moreData$ | async as data">
                    <h5 class="text-center">Flavor Text: </h5>
                    <p class="text-center">{{data.flavor_text}}</p>
                </div>
                <br>
                <h5 class="text-center">Stats: </h5>
                <ng-container *ngFor="let stat of pokemon1.stat">
                    <div class="text-center card-text" id ="stats">{{stat.stat.name | replaceWithspace |titlecase}}: {{stat.base_stat}}</div>
                </ng-container>
                <br>
                <h5 class="text-center">Ability</h5>
                <ng-container *ngFor="let array of pokemon1.ability">
                    <div class="text-center">
                        <a class="text-center" (click)="goTo(array.ability.name, '/ability/')">{{array.ability.name | replaceWithspace |titlecase}}</a>
                    </div>
                </ng-container>
                <br>
                <h5 class="text-center">Moves: </h5>
                <ng-container *ngFor="let array of pokemon1.moves">
                    <div class="text-center">
                        <a (click)="goTo(array.move.name, '/moves/')">{{array.move.name | titlecase | replaceWithspace}}</a>
                    </div>
                </ng-container>
        </div>
      </div>

      <div class="w-100 d-flex justify-content-center">
        <div class="w-50 d-flex justify-content-between">
          <button *ngIf="pokemon$ | async as pokemon1" (click)="onLeft()">Previous</button>
          <button *ngIf="pokemon$ | async as pokemon1" (click)="onRight()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>