<div
  class="container-fluid m-0 p-0 w-100 d-flex flex-column back-display h-100"
>
  <div class="row row-cols-2 pokedex-upper">
    <div class="col">
      <svg>
        <circle
          cx="25%"
          cy="50%"
          r="15"
          stroke="#4062BB"
          stroke-width="1"
          fill="#4062BB"
        />
      </svg>
    </div>
    <div class="col">
      <div class="row" id="rectangle"></div>
      <div class="row" id="triangle-topleft"></div>
    </div>
  </div>

  <div class="pokdex-Inner w-100 d-flex flex-grow-1 border-right">
    <div class="w-50 d-flex flex-column flex-grow-1 border-right">
      <!-- This is my left pokedex -->
      <div class="w-50 image-container center my-5">
        <div class="w-100 h-100 scrollable" *ngIf="move$ | async as move"> 
          <h5 class="text-center">Type:</h5>
          <p class="text-center">{{move.type | titlecase}}</p>
          <h5 class="text-center">Flavor Text:</h5>
          <p class="text-center">{{move.flavor_text}}</p>
        </div>
      </div>

      <div class= "w-50 name-container center d-flex justify-content-center my-5">
        <h5 class="center"
          *ngIf="move$ | async as move">
          {{ move.getName() | titlecase | replaceWithspace }}
        </h5>
      </div>
      <div class= "w-50 name-container d-flex justify-content-center center">
        <h5 class = "center"*ngIf="move$ | async as move">
          Id: {{move.id}}
        </h5>
      </div>
    </div>
    <div class="w-50 flex-grow-1 d-flex flex-column border-left">
      <!-- This is my right pokedex -->
      <div class= "w-50 d-flex center search-container my-5 justify-content-center">
        <mat-form-field>
          <input
            type="text"
            placeholder="Enter Move Name or ID"
            matInput
            [formControl]="search"
            (keyup.enter)="searchM()"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of name$ | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="w-50 text-container center my-5 scrollable">
        <div class="h-100" *ngIf="move$ | async as move">
          <h5 class="text-center">Effect:</h5>
          <p class="text-center">{{ move.getEffectFlavor() }}</p>
          <div *ngIf="move.power">
            <h5 class="text-center">Power:</h5>
            <p class="text-center">{{move.power}}</p>
          </div>
          <h5 class="text-center">PP:</h5>
          <p class="text-center">{{move.pp}}</p>
          <div *ngIf="move.accuracy">
            <h5 class="text-center">Accuracy:</h5>
            <p class="text-center">{{move.accuracy}}</p>
          </div>
        </div>
      </div>

      <div class="w-100 d-flex justify-content-center">
        <div class="w-50 d-flex justify-content-between" *ngIf="move$ | async as move">
          <button (click)="onLeft()">Previous</button>
          <button (click)="onRight()">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
