.back-display {
  background: #f25757;
}

.pokedex-upper {
  min-height: 100px;
}

.col {
    background: #dd2d4a;
}

.border-right {
    border-right-color: #dd2d4a !important;
    border-right-width: 2px !important;
}

.border-left {
    border-left-color: #dd2d4a !important;
    border-left-width: 1px !important;
}

.top-box {
  height: 50px;
}

.image-container {
    height: 200px;
    background: snow;
}

mat-form-field {
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
}

.text-container {
    height: 300px;
    background: snow;
}

.name-container {
    height: 50px;
    background: snow;
}
.center {
    align-self: center;
    justify-self: center;
}
svg {
  height: 10vh;
}

#rectangle {
  height: 45px;
}

#triangle-topleft {
  border-bottom: 55px solid #f25757;
  border-left: 50px solid #dd2d4a;
}
